RewriteEngine On

# Passa Sempre Para o www.
RewriteCond %{HTTP_HOST} !^localhost
RewriteCond %{HTTP_HOST} !^www\.
RewriteCond %{HTTP_HOST} !^\.
RewriteRule (.*) http://www.%{HTTP_HOST}%{REQUEST_URI} [L] 

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1

